{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-2">
        <img src="{{ product.icon.url }}" alt="{{ product.name }}" class="img-fluid">
    </div>
    <div class="col-10">
        <a href="{{ product.url }}"><h1>{{ product.name }}</h1></a>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
    </div>
    <div class="col-3">
        <a href="" onclick="document.getElementById('upvote').submit(); return false;"><button class="btn btn-primary btn-lg btn-block"><i class="fas fa-plus-circle"></i>Upvote <span>{{ product.votes }}</span></button></a>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <h4><i class="fas fa-search"></i> Found by {{ product.founder.username}}</h4>
    </div>
    <div class="col-5 text-right">
        <h4>{{ product.created_date|date:'M d, Y'}}</h4>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <p>{{ product.description}}</p>
    </div>
    
</div>

<form id="upvote" method="POST" action="{% url 'upvote' product.id %}">
    {% csrf_token %}
    <input type="hidden">
</form>

{% endblock %}
